{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Deletar Aluno</h1>
    <p>Tem certeza que deseja excluir o aluno "{{ aluno.nome }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Deletar</button>
        <a href="{% url 'lista_alunos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</body>
</html>
