<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Contratos</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <img src="https://seeklogo.com/images/G/gym-logo-C00BD4A235-seeklogo.com.png" width="50" height="50" class="d-inline-block align-top mr-3" alt="">
    <a class="navbar-brand text-light" href="{%url 'home' %}">LOREM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link text-light" href="{%url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'cadastrar_completo' %}">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'lista_alunos' %}">Alunos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'tabela_treinos' %}">Treinos</a>
        </li>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'contratos' %}" >Contratos</a>
      </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Contratos</h1>
    </div>
  </div>

  <div class="container">
    <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Plano</th>  
              <th scope="col">Data Início</th>
              <th scope="col">Data Fim</th>
              <th scope="col">Forma de Pagamento</th>
              <th scope="col">Descrição/Observação</th>
            </tr>
          </thead>
          <tbody>

            {% for contrato in contratos %}
            <tr>
              <td>{{ contrato.aluno.nome }}</td>
              <td>{{ contrato.plano}}</td>
              <td>{{ contrato.data_inicio }}</td>
              <td>{{ contrato.data_fim }}</td>
              <td>{{ contrato.forma_pagamento}}</td>
              <td>{{ contrato.descricao}}</td>
            </tr>
            {% endfor %}
    </div>        
</body>
</html>
