<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Aluno</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <img src="https://seeklogo.com/images/G/gym-logo-C00BD4A235-seeklogo.com.png" width="50" height="50" class="d-inline-block align-top mr-3" alt="">
        <a class="navbar-brand text-light" href=>LOREM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link text-light" href="{%url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="{% url 'cadastrar_completo' %}">Cadastro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="{% url 'lista_alunos' %}">Alunos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="{% url 'tabela_treinos' %}">Treinos</a>
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'contratos' %}" >Contratos</a>
          </li>
          </ul>
        </div>
      </nav>
      
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 text-center">Editar Cadastro</h1>
        </div>
      </div>

    <div class="container mt-5">
        <h2 class="mb-4">Aluno: {{ aluno.nome }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Salvar Alterações</button>
            <a href="{% url 'lista_alunos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    <div style="height: 400px;"></div> 
    <footer class="bg-dark text-secondary text-center text-light py-3">
        <div class="container">
            <p class="mb-0"> © 2024, Grenciador de Academia, todos os direitos reservados.</p>
            <p class="mb-0">
                <a href="#" class="text-decoration-none text-secondary text-light me-3">Política de Privacidade</a>
                <a href="#" class="text-decoration-none text-secondary text-light">Termos de Uso</a>
            </p>
        </div>
    </footer>
    
</body>
</html>
